In [1]:
strVal = 'data science'
nVal = 12345
fVal = 1.2
lVal = ['data', 'science']
dVal = {'lecture' : 'data science'}
bVal = True

In [2]:
# 기본적인 주석

In [3]:
''' 
이런 형태의 주석도 많이 사용
'''

' \n이런 형태의 주석도 많이 사용\n'

In [4]:
strVal

'data science'

In [5]:
nVal

12345

In [6]:
fVal

1.2

In [7]:
lVal

['data', 'science']

In [8]:
dVal

{'lecture': 'data science'}

In [9]:
bVal

True

In [10]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

strVal :  data science
nVal :  12345
fVal :  1.2
lVal :  ['data', 'science']
dVal :  {'lecture': 'data science'}
bVal :  True

In [11]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

strVal :  <class 'str'>
nVal :  <class 'int'>
fVal :  <class 'float'>
lVal :  <class 'list'>
dVal :  <class 'dict'>
bVal :  <class 'bool'>

In [13]:
nVal = 16
fVal = 3.14

In [14]:
print('10진수 표현 : ', nVal)
print('2진수 표현 : ', bin(nVal))
print('8진수 표현 : ', oct(nVal))
print('16진수 표현 : ', hex(nVal))

10진수 표현 :  16
2진수 표현 :  0b10000
8진수 표현 :  0o20
16진수 표현 :  0x10

In [16]:
btVal = True
bfVal = False

In [17]:
btVal = TRUE
bfVal = FALSE

NameError: name 'TRUE' is not defined

In [18]:
btVal = true
bfVal = false

NameError: name 'true' is not defined

In [19]:
10 == 11

False

In [20]:
10 != 11

True

In [21]:
10 >= 11

False

In [22]:
10 <= 11

True

In [23]:
10 > 11

False

In [24]:
10 < 11

True

In [25]:
nBig = 100
nSmall = 10

In [26]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

False
True
True
False
True
False

In [27]:
print(nBig =< nSmall)

SyntaxError: invalid syntax (<ipython-input-27-3ccfad67ec5b>, line 1)

In [28]:
print(nBig => nSmall)

SyntaxError: invalid syntax (<ipython-input-28-704ebfcfd390>, line 1)

In [29]:
strData = 'data'
strSci = "Science"

In [30]:
strLecture = strData + strSci

In [31]:
strLecture

'dataScience'

In [32]:
strLecture = strData +" "+ strSci
strLecture

'data Science'

In [33]:
strLecture.split()

['data', 'Science']

In [34]:
lSeperate = strLecture.split()

In [35]:
type(lSeperate)

list

In [36]:
strHello = "안녕하세요. 반갑습니다."

In [37]:
strHello.find("반갑")

7

In [38]:
strHello.find("hello")

-1

In [39]:
"반갑" in strHello

True

In [40]:
strHello.replace('.', '?')

'안녕하세요? 반갑습니다?'

In [41]:
strHello.replace('.', '?')
strHello.replace("하세요", "하셔유")

'안녕하셔유. 반갑습니다.'

In [42]:
strHello

'안녕하세요. 반갑습니다.'

In [43]:
strNewHello = strHello.replace('.', '?')
strNewHello = strNewHello.replace("하세요", "하셔유")
strNewHello

'안녕하셔유? 반갑습니다?'

In [44]:
strHello.strip('반갑습니다.')

'안녕하세요. '

In [45]:
strHello

'안녕하세요. 반갑습니다.'

In [46]:
lnData = [1,2,3,4,5]
print(lnData)
print('type : ', type(lnData))

[1, 2, 3, 4, 5]
type :  <class 'list'>

In [47]:
print(lnData[0])
print(lnData[3])

1
4

In [48]:
lnData[0] = lnData[4]
print(lnData)

[5, 2, 3, 4, 5]

In [49]:
print(lnData[2:4])

[3, 4]

In [50]:
lnData = [1,2,3,4,5]
lstrData=['a', 'b', 'c']
lnData + lstrData

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [51]:
lnData.append(10)
lnData

[1, 2, 3, 4, 5, 10]

In [52]:
lnData.insert(0, 'python')
lnData

['python', 1, 2, 3, 4, 5, 10]

In [53]:
lnData.remove('python')
lnData

[1, 2, 3, 4, 5, 10]

In [54]:
del lnData[5]
lnData

[1, 2, 3, 4, 5]

In [55]:
lnData

[1, 2, 3, 4, 5]

In [56]:
lnData.pop(0)
lnData

[2, 3, 4, 5]

In [57]:
lnData.pop()
lnData

[2, 3, 4]

In [58]:
lnData.clear()
lnData

[]

In [59]:
tVal = ("사과", "딸기", "바나나", "토마토", "키위")
print(tVal)
print(type(tVal))

('사과', '딸기', '바나나', '토마토', '키위')
<class 'tuple'>

In [60]:
tVal[0] = "포도"

TypeError: 'tuple' object does not support item assignment

In [61]:
tData = ( 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

3

In [62]:
len(tVal)

5

In [63]:
len(tData)

11

In [64]:
print(tData[2:5])

(3, 1, 2)

In [65]:
tTuple = tVal+ tData
print(tTuple)

('사과', '딸기', '바나나', '토마토', '키위', 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [66]:
tData * 2

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [67]:
tData

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [68]:
tData2 = tData * 2
print(tData2)

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [69]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x2339e511180
tVal memory =  0x233a01a6a40
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [70]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x233a01a6a40
tVal memory =  0x2339fe3d1e0
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [71]:
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))

{1, 2, 3, 4, 5}
<class 'set'>

In [72]:
sVal[1:2]

TypeError: 'set' object is not subscriptable

In [73]:
sVal.add(100)
print(sVal)

{1, 2, 3, 4, 5, 100}

In [74]:
sVal.update([200, 300])
print(sVal)

{1, 2, 3, 4, 5, 100, 200, 300}

In [75]:
sVal.remove(200)
print(sVal)

{1, 2, 3, 4, 5, 100, 300}

In [76]:
sVal.clear()
print(sVal)

set()

In [77]:
sVal = {100, 200, 300, 400, 500}
sData = {"a", "b", "c", "c", 100, 300}
print(sVal)
print(sData)

{100, 200, 300, 400, 500}
{'a', 100, 300, 'c', 'b'}

In [78]:
sVal.intersection(sData)

{100, 300}

In [79]:
sVal.difference(sData)

{200, 400, 500}

In [80]:
sVal - sData

{200, 400, 500}

In [81]:
sVal.union(sData)

{100, 200, 300, 400, 500, 'a', 'b', 'c'}

In [82]:
sVal + sData

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [83]:
sVal.symmetric_difference(sData)

{200, 400, 500, 'a', 'b', 'c'}

In [85]:
dVal = {'name' : '이컴공', 'email' : 'computer@hoseo.edu', 'address' : '충남 아산시'}
print(dVal)
print(type(dVal))

{'name': '이컴공', 'email': 'computer@hoseo.edu', 'address': '충남 아산시'}
<class 'dict'>

In [86]:
dData = {"사과" : 300, "포도" : 200, "배" : 500, "키위" : 100}

In [87]:
print(dData["배"])

500

In [88]:
dData.get("배")

500

In [89]:
dData["딸기"] = 100
print(dData)

{'사과': 300, '포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [90]:
dData.pop("사과")

300

In [91]:
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [93]:
dData.pop()

TypeError: pop expected at least 1 argument, got 0

In [94]:
sorted(dData)

['딸기', '배', '키위', '포도']

In [95]:
sorted(dData.values())

[100, 100, 200, 500]

In [96]:
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [99]:
def f(x):
    return x + 10

In [100]:
f(2)

12